.ChatMain{
    background-color: #d7dfe7;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@media (min-width: 1200px){
    .ChatMain{
        height: inherit;
    }
}

/* isTyping */

.IsTyping{
    text-align: center;
    height: 15px;
    color: #3a87ae;
}
